body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(157,176,147);
    background: linear-gradient(177deg, rgba(157,176,147,1) 0%, rgba(40,108,178,1) 100%);
    color: #333;
    text-align: center;
}

header {
    padding: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 1%, rgba(7,59,154,1) 36%, rgba(0,212,255,1) 100%);
    color: white;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

p {
    font-size: 1.2em;
}

main {
    padding: 20px;
}

.skills, .contact, .resume {
    margin: 20px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.2em;
}

a:hover {
    color: #0056b3;
}
